<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Review Recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/a42b7208df.js"></script>
      <link rel="stylesheet" href="css/detail.css"> 

  </head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark navbar-inverse bg-dark justify-content-between fixed-top">
      <a class="navbar-brand d-none d-sm-block text-white">More-Recipes</a>
        <form class="form-inline my-2 my-lg-0 ">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">      
        </form>
    </nav>

    

    <div class="header-banner" style="background-image: url('img/pancake.jpg');">
    </div>

    <div class="container detail-container bg-white">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <img class="card-img-top img-fluid" src="img/pancake.jpg" alt="Card image cap">
        </div>
        <div class="col-md-4 col-sm-12"> 
          <div class="detail-holder">
            <h1 class="detail-title">pan cakes</h1>
            <div class="card detail-card">
              <div class="card-body clearfix">
                <div class="row">
                  <button class="btn btn-success col-sm-6 no-border-r pt-3 pb-3">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>&nbsp;200</span>
                  </button>
                  <button class="btn btn-danger col-sm-6 no-border-r pt-3 pb-3">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i><span>&nbsp;0</span>                  
                  </button>
                </div>
                </div>
              <div class="card-body">
                <h6>Description</h6>
                <p>Fugiat esse enim sunt exercitation est cupidatat cillum duis. </p>
              </div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 ">Ingredients</h6>
                <ul>
                  <li>flower</li>
                  <li>flower</li>
                  
                  <li>flower</li>
                  <li>flower</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 pt-5 pb-5">
          <div class="add-review">
            <h2 class="mb-3">Add A Review</h2>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" id="inputEmail4" placeholder="First Name...">
                </div>
                <div class="form-group col-md-6">
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Surname...">
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write A Review..."></textarea>
              </div>
              <button type="" class="btn btn-outline-dark pull-right bg-danger btn-lg" >POST</button>
            </form>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class= "container mb-5 ">
      <h1>Reviews</h1>
      <h4>2 reviews for pan cakes</h4>
      <div class="row">
        <div class="col-sm-12">

          <div class="card mb-3" >
            <div class="card-body">
              <div class="row">
                <img class="col-sm-2 card-img-top img-fluid round define-width text-center" src="img/me.jpg" alt="Card image cap">
                <div class="col-sm-8">
                  <h4 class="card-title">Chocolate cream</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="card-body">
              <div class="row">
                <img class="col-sm-2 card-img-top img-fluid round define-width text-center" src="img/me.jpg" alt="Card image cap">
                <div class="col-sm-8">
                  <h4 class="card-title">Chocolate cream</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class= "container text-center mb-5 ">
      <hr>
      <div class ="heading">
      <h1 class ="p-5 ">Popular Recipes</h1>
      <div class ="row">
        <div class ="col-md-4 col-xs-4 mb-5">
          <div class="card" >
              <img class="card-img-top" src="img/chcolate-cream.jpg" alt="Chocolate cream">
              <div class="card-body">
                <h4 class="card-title">Chocolate cream</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                </div>
                <div class= "card-body clearfix">
                  <div class="text-left text-success float-left">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>&nbsp;1500</span>
                  </div>
                  <div class="text-right text-danger float-right">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>&nbsp;0</span>                
                  </div>
                  <div class="text-center  float-center">
                  <i class="fa fa-eye" aria-hidden="true"></i><a href="review.html" ><span id='clickableAwesomeFont' class="text-dark">&nbsp;View</span></a>
                  </div>
                </div>
            </div>
        </div>
        
        <div class ="col-md-4 col-xs-4 mb-5">
          <div class="card" >
              <img class="card-img-top" src="img/chcolate-cream.jpg" alt="Chocolate cream">
              <div class="card-body">
                <h4 class="card-title">Chocolate cream</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                </div>
                <div class= "card-body clearfix">
                  <div class="text-left text-success float-left">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>&nbsp;1000</span>
                  </div>
                  <div class="text-right text-danger float-right">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i><span>&nbsp;0</span>                 
                  </div>
                  <div class="text-center  float-center">
                  <i class="fa fa-eye" aria-hidden="true"></i><a href="review.html" ><span id='clickableAwesomeFont' class="text-dark" >&nbsp;View</span></a>
                  </div>
                </div>
            </div>
          
        </div>
        <div class ="col-md-4 col-xs-4 mb-5">
          <div class="card" >
              <img class="card-img-top" src="img/cheesecake-cream.jpg" alt="Chocolate cream">
              <div class="card-body">
                <h4 class="card-title">Chocolate cream</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                </div>
                <div class= "card-body clearfix">
                  <div class="text-left text-success float-left">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i><span>&nbsp;200</span>
                  </div>
                  <div class="text-right text-danger float-right">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i><span>&nbsp;0</span>                  
                  </div>
                  <div class="text-center  float-center">
                  <i class="fa fa-eye" aria-hidden="true"></i><a href="review.html" ><span id='clickableAwesomeFont' class="text-dark">&nbsp;View</span></a>
                  </div>
                </div>
            </div>
          
        </div>
        
        
      </div>
      
      
    </div>
    
    </div>
    <!--- MAIN FOOTER -->
    
    <footer id="main-footer" class ="bg-danger navbar-static-bottom">
      <div class= "container">
        <div class="row">
          <div class ="col text-center">
            <div class="py-4 text-white">
              <h1 class="h3">More-Recipes Project</h1>
              <p>Copyright &copy; 2017</p>
              
            </div>
            
          </div>
          
        </div>
        
      </div>
      
    </footer>
</body>
</html>