<!doctype html>
<html lang="en">
<head>
  <title>Your Dashboard</title>     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/a42b7208df.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>
        
 
    <link rel="stylesheet" href="css/recipes.css"> 


</head>
<body>
  
  <nav class="navbar navbar-expand-sm navbar-dark navbar-inverse bg-dark justify-content-between fixed-top">
  <a class="navbar-brand d-none d-sm-block text-white">More-Recipes</a>
      

    <form class="form-inline my-2 my-lg-0 ">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">      
    </form>
    
  
</nav>

    <div class= "container text-center ">
      <div class ="heading">
        
      
      <h1 class ="p-5 ">My Recipes</h1>
      <button type="" class="addrecipebtn btn btn-outline-success" data-toggle="modal" data-target="#AddRecipe"><i class="fa fa-plus"></i> Recipe</button>
      <hr>
      <div class ="row">
        <div class ="col-md-4 col-xs-4">
          <div class="card" >
              <img class="card-img-top" src="img/chcolate-cream.jpg" alt="Chocolate cream">
              <div class="card-body">
                <h4 class="card-title">Chocolate cream</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                </div>
                <div class= "card-body clearfix">
                  <div class="text-left text-success float-left">
                    <i class="fa fa-pencil" aria-hidden="true"></i><a href="" data-toggle="modal" data-target="#editModal"><span id='clickableAwesomeFont' class="text-success">&nbsp;Edit</span></a>
                  </div>
                  <div class="text-right text-danger float-right">
                    <i class="fa fa-trash" aria-hidden="true"></i><span id='clickableAwesomeFont' class="delete">&nbsp;Delete</span>               
                  </div>
                  <div class="text-center text-primary float-center">
                  <i class="fa fa-eye" aria-hidden="true"></i><span id='clickableAwesomeFont'class="view" href="detail.html">&nbsp;View</span>
                  </div>
                </div>
            </div>
        </div>
        <div class ="col-md-4 col-xs-4">
          <div class="card" >
              <img class="card-img-top" src="img/chcolate-cream.jpg" alt="Chocolate cream">
              <div class="card-body">
                <h4 class="card-title">Chocolate cream</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                </div>
                <div class= "card-body clearfix">
                  <div class="text-left text-success float-left">
                    <i class="fa fa-pencil" aria-hidden="true"></i><a href="" data-toggle="modal" data-target="#editModal"><span id='clickableAwesomeFont' class="text-success">&nbsp;Edit</span></a>
                  </div>
                  <div class="text-right text-danger float-right">
                    <i class="fa fa-trash" aria-hidden="true"></i><span id='clickableAwesomeFont' class="delete">&nbsp;Delete</span>                
                  </div>
                  <div class="text-center text-primary float-center">
                  <i class="fa fa-eye" aria-hidden="true"></i><span id='clickableAwesomeFont' class="view" >&nbsp;View</span>
                  </div>
                </div>
            </div>
          
        </div>
        <div class ="col-md-4 col-xs-4">
          <div class="card" >
              <img class="card-img-top" src="img/salmon.jpg" alt="Salmon">
              <div class="card-body">
                <h4 class="card-title">Roasted Salmon</h4>
                <p class="card-text">Taste gets better with each taste, try it and never regret this wonderful taste, Dont miss it for anything</p>
                
                </div>
                <div class= "card-body clearfix">
                  <div class="text-left text-success float-left">
                    <i class="fa fa-pencil" aria-hidden="true"></i><a href="" data-toggle="modal" data-target="#editModal"><span id='clickableAwesomeFont' class="text-success">&nbsp;Edit</span></a>
                  </div>
                  <div class="text-right text-danger float-right">
                    <i class="fa fa-trash" aria-hidden="true"></i><span id='clickableAwesomeFont' class="delete">&nbsp;Delete</span>  
                  </div>
                  <div class="text-center text-primary float-center">
                  <i class="fa fa-eye" aria-hidden="true"></i><span id='clickableAwesomeFont' class="view" >&nbsp;View</span>
                  </div>
                </div>
            </div>
          
        </div>
        <div class ="col-md-4 col-xs-4">
          <div class="card" >
              <img class="card-img-top" src="img/pizza.jpg" alt="Pizza">
              <div class="card-body">
                <h4 class="card-title">Pizza</h4>
                <p class="card-text">What can be said about this?, This Pizza tastes better than the ones gotten form Dominos</p>
                
                </div>
                <div class= "card-body clearfix">
                  <div class="text-left text-success float-left">
                    <i class="fa fa-pencil" aria-hidden="true"></i><a href="" data-toggle="modal" data-target="#editModal"><span id='clickableAwesomeFont' class="text-success">&nbsp;Edit</span></a>
                  </div>
                  <div class="text-right text-danger float-right">
                    <i class="fa fa-trash" aria-hidden="true"></i><span id='clickableAwesomeFont' class="delete">&nbsp;Delete</span>                 
                  </div>
                  <div class="text-center text-primary float-center">
                  <i class="fa fa-eye" aria-hidden="true"></i><span id='clickableAwesomeFont' class="view" >&nbsp;View</span>
                  </div>
                </div>
            </div>
          
        </div>
        <div class ="col-md-4 col-xs-4">
          <div class="card" >
              <img class="card-img-top" src="img/avocado.jpg" alt="Avocado-pear">
              <div class="card-body">
                <h4 class="card-title">Avocado slice</h4>
                <p class="card-text">This meal is prepared using mainly avocado pears specially plucked from the trees in Gabon</p>
                
                </div>
                <div class= "card-body clearfix" >
                  <div class="text-left text-success float-left">
                    <i class="fa fa-pencil" aria-hidden="true"></i><a href="" data-toggle="modal" data-target="#editModal"><span id='clickableAwesomeFont' class="text-success">&nbsp;Edit</span></a>
                  </div>
                  <div class="text-right text-danger float-right">
                    <i class="fa fa-trash" aria-hidden="true"></i> <span id='clickableAwesomeFont' class="delete">&nbsp;Delete</span>
                                      
                  </div>
                  <div class="text-center text-primary float-center">
                  <i class="fa fa-eye" aria-hidden="true"></i><span id='clickableAwesomeFont' class="view">&nbsp;View</span>
                  </div>
                </div>
            </div>
          
        </div>
      </div>

      
      
      <nav aria-label="Navigate Recipes" class="text-center">
        <ul class="pagination justify-content-center ">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
              </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      
    </div>
    
    </div>
    
    

    <!--- MAIN FOOTER -->
    
    <footer id="main-footer" class ="bg-default navbar-static-bottom">
      <div class= "container">
        <div class="row">
          <div class ="col text-center">
            <div class="py-4">
              <h1 class="h3">More-Recipes Project</h1>
              <p>Copyright &copy; 2017</p>
              
            </div>
            
          </div>
          
        </div>
        
      </div>
      
    </footer>

    <!---EDIT MODAL -->
  <div class="modal fade text-dark" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalTitle">Edit Your Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="username">Name of Recipe</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="text">Ingredients</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Procedure</label>              
              <textarea class="form-control" type="text"></textarea>
              
            </div>           

          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger btn-block">Edit</button>
        </div>
      </div>
    </div>
  </div>

    <!---ADD Recipe -->
  <div class="modal fade text-dark" id="AddRecipe">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalTitle">Add new Recipe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="username">Name of Recipe</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="text">Ingredients</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Procedure</label>              
              <textarea class="form-control" type="text"></textarea>
              
            </div>           

          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger btn-block">Add new Recipe</button>
        </div>
      </div>
    </div>
  </div>
      
      
    

    
<script src="js/recipes.js"></script>

</body>
</html>