<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Review Recipes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/a42b7208df.js"></script>
      <link rel="stylesheet" href="css/review.css"> 

  </head>
<body>
  <nav class ="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class= "container">
        <a href="index.html" class="navbar-brand">More-Recipes</a>           
                
      </div>     
      
  </nav>

  <div class ="heading mb-5">
    <div class ="container">
      <div class="row justify-content-center">
        <div class="card" style="width: 50rem;">
          <img class="card-img-top img-fluid img-thumbnail" src="img/pancake.jpg" alt="Card image cap">
          <div class="card-body">
            <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
            </div>
            </div>        
      </div>
    </div>
    
  </div>

  <!--- MAIN FOOTER -->
    <footer id="main-footer" class ="bg-danger">
      <div class= "container">
        <div class="row">
          <div class ="col text-center">
            <div class="py-4">
              <h1 class="h3">More-Recipes Project</h1>
              <p>Copyright &copy; 2017</p>
              
            </div>
            
          </div>
          
        </div>
        
      </div>
      
    </footer>



   
</body>