

body{
        background:#fff;
        color: black;
}

.popular-recipes{
  max-height: 30px;
  background-color: green; 

}
.fa{
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 20px;
  }

.active {
  color: greenyellow;
}

input .dashboard{
  width:2px;
}

.home-inner{
        padding-top: 100px; 
      }
.heading{
  padding-top: 100px; 
}
.card{
  margin-bottom: 15px;
}

/*.navbar{
  background-color:black;
  margin-bottom: 0;
  border-radius: 0;
  
}*/

.search { 
  position: relative;
  margin-right: 5px; 
  }

#clickableAwesomeFont{
  cursor:pointer
}
.search input { 
  text-indent: 30px; 
  border-radius:20px;
  }
.search .fa-search { 
  position: absolute;
  top: 5px;
  left: 160px;
  
  font-size: 15px;
}

@media only screen and (max-width : 575px) {
  form {
    width: 100% ; 
    position: relative;
}
}