body{
        background:#fff;
        color: black;
}


.heading{
  padding-top: 50px; 
}

.picture {
  height: 150px;
}

h1{
  text-align: center;
  padding-top: 100px;
}

.hr-color{
  color: red;
}

.img--thumbnail img {
  height: 300px;
}
.name{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

