

body{
        background:#fff;
        color: black;
        height: 100%;
        margin:0;
	padding:0;
	height:100%;
        
}


.popular-recipes{
  max-height: 30px;
  background-color: green; 

}
.fa{
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 20px;
  }

.active {
  color: greenyellow;
}

.home-inner{
        padding-top: 100px; 
      }
.heading{
  padding-top: 20px; 
}
.card{
  margin-bottom: 15px;
}
#clickableAwesomeFont{
  cursor:pointer
}

.container{
  position: relative;
}

.navbar{
  background-color:black;
  margin-bottom: 0;
  border-radius: 0;  
}

html{
    min-height: 100%;
    
}
.py-4{
  padding-bottom: 0px !important;
}

.addrecipebtn{
  position: absolute;
  top: 5.3%;
  right: 20px;
}

.search input { 
  text-indent: 30px; 
  border-radius:20px;
  }
.search .fa-search { 
  position: absolute;
  top: 5px;
  left: 160px;
  
  font-size: 15px;
}





@media only screen and (max-width: 765px) {
    .addrecipebtn{
        position: relative !important;
    }
}