ul{
    list-style: disc;
  }

  btn:focus{
    outline: none !important;
  }

  .navbar{
    border-bottom: #FF4500 3px solid;

  }

  .round{
    border-radius: 100%;
  }
  .detail-height{
    min-height: 250px;
  }

  .profile{
    background: #343a40;
    color: white;
    cursor: pointer;
    /*opacity: 0.8*/
  }

  .define-width{
    width: 100px !important;
    height: 100px !important;
    padding-right: 35px !important;
    padding-left: 35px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important

  }

  .header-banner{
    position: relative;
    width: 100%;
    height: 380px;
    background-repeat:  no-repeat;
    background-size: cover;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    overflow: hidden;
    z-index: -1;
  }
  /*
  .container-holder{
  }*/

  .detail-container{
    background: #fff !important;
    margin-top: -180px;
    padding: 30px;
    border-radius: 5px;
  }

  .no-border-r{
    border-radius: 0px !important;
  }

  .no-border-x{
    border-radius: 0px !important;
    border-color:  red !important;
  }
  .navbar{
    position: relative;
  }

  .detail-card{
    border: none !important;
  }
  .detail-title{
    font-size: 30px;
  }

  .detail-card .card-body{
    padding: 1.25rem 0px !important;
  }
  .wrap-word {
    overflow-wrap: break-word;
  }

  .detail-holder h1{
    text-transform: capitalize;
  }

  .bold {
    font-weight: bold;
    font-size: 12px;
  }
  /*
  form {
    width: 100% !important;
    float: right;
  }*/

  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 575px) {
    form {
      width: 100% ;
      position: relative;
  }
  }

  @media only screen and (max-width : 768px) {
    .define-width {
      padding-left: 5px !important;
      padding-right: 5px !important;
      margin-left: 90px !important;
  }
  }


  @media only screen and (max-width : 575px) {
    .profile {
      right:50%;
    left: 50%;
    margin-left: 120px;

  }
  }
