 body{
  background:#fff;
  color: #fff;
        }
      .back{
        background-color: white;
      }
      .navbar{
        border-bottom: #FF4500 3px solid;
      }

      .passlink {
        text-decoration: none;
      }

      #home-section{
        background: url('../../public/assets/food1.jpg') no-repeat;
        min-height: 640px !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        color: #fff;
      }

      .link-dropdown{
        background-color: #343a40;
        cursor:pointer;
        border: none
      }

      .link-dropdown:hover {
        background-color: #343a40;
        border: none
      }

      .link-dropdown:active {
        background-color: #343a40;
        border: none
      }
      .forgot {
        color: red;
        text-decoration: none;
      }
      .forgot:hover {
        color: red;
        text-decoration: none;
      }
      .dropdown-links {
        margin: 0 auto;
        padding-left: 30px;
        color: black;
        width: 100%;
        border-top: 1px solid #343a40;
      }
      .dropdown-links:hover {
        text-decoration: none;
        color: #343a40
      }
      .hr-color {
        background-color: #FF4500
      }

      .dark-overlay{
        background-color:rgba(0,0,0,0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
      }

      .home-inner{
        padding-top: 100px;
      }

      .card-form{
        opacity: 0.8;
      }
      .left{
        float: left;
      }
      .hov:hover {
        color: black;
        font-size:20px;
        font-weight: 600;
        background-color: #dc3545;
      }

      .fa{
        color: #FF4500;
        background: #fff;
        padding: 4px;
        border-radius: 5px;
        font-size: 15px;
      }

      nov {
        padding: -2px -2px 20px;
        cursor: pointer;
      }

      .carousel-control-next-icon, .carousel-control-prev-icon {
        height: 50px;
        width: 50px;
        color:red !important;

      }
      .recipes-position {
        color: white;
        border: 1px solid white;
        padding: 20px;
        margin: 0 10px ;
        min-width: 170px;
        display: inline-block;
      }

      .recipes-position:hover {
        color: white;
        text-decoration: none;
      }

      .picSize {
        font-size: 80px;
        color: black;
        text-shadow: 5px 5px 10px #707070;
      }

      .pSize {
        font-size: 30px;
        color: black;
        text-shadow: 5px 5px 10px #707070;
        line-height: -2px;

      }

      .iconSize {
        color:red;
      }

      .nov:hover {
        background-color: #707070;
    color: white;
    padding: -2px -2px;
      }

      .dep {
        border-color: #dc3545;
        color: black;
      }

      .dep:hover {
        background-color: #dc3545;
      }
.no-recipes {
  margin: 0 auto;
}
      .fa cut{
        color: #FF4500;
        background: #FF4500;
        padding: 4px;
        border-radius: 5px;
        font-size: 15px;
      }
#explore-head-section{
    border-bottom: #FF4500 1px solid;
}

.btn-outline-light:hover {
    background-color: #dc3545;
    color:white
}

.pad {
  padding-left:0px;
  padding-right:0px;
}

.show-large {
  display: block;
}
.show-mobile {
  display: none;
}
.show-mobile a {
  color: #fff;
}
.show-mobile a:hover {
  color: #fff;
  background: #dc3545;
}
.show-mobile li {
  list-style-type: none !important;
  margin: 0;
}
.show-mobile {
  margin: 0;
  padding-left: 0;
  text-align: center;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
  .size {
    width: 100% ;
    height: 150px;
    margin: auto;
  }
  .show-large {
    display: none;
  }
  .show-mobile {
    display: block;
  }
}
