$blue: red;
.container {
    color: $blue;
}
.navbar{
        border-bottom: #FF4500 3px solid;               
    } 
body{
        background:#fff;
        color: #fff;
        }

.topo {
    padding-top: 100px;
}




