.app-login-form {
  max-width: 380px;
  margin-top: -25px;
}

.card-login {
  background-color: #fff;
  padding: 30px;
}

.m-x-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

button {
  color: #fff;
  cursor: pointer;
  background-color: #d46659;
}

.black {
  color: #d46659;
}
