.profile{
  margin: 20px 0;
}

.dark{
  background-color:rgba(0,0, 0, 0.8);
  padding-top: 100px;
  height: 100%;
}

.profile-sidebar{
  padding: 20px 0 0px 0;
  background: #fff;
}

.img-circle {
    border-radius: 50%;
}

.profile-user-pic img{
  float: none;
  margin: 0 auto;
  max-width: 40%;
  max-height: 40%;
  margin-left: 70px;
}
.pen {
  color: #fff
}

.set-align {
  display: flex !important;
}
.table-borderless td{
  border: none;
}

.profile-user-title{
  text-align: center;
  margin-top: 20px;
}

.profile-user-name{
  color: #5a73a1;
  font-size: 18px;
  font-weight:600;
  margin-bottom: 7px;
}

.profile-user-job {
  text-transform: uppercase;
  color: #5babd1;
  font-size: 13px;
  font-weight:  600;
  margin-bottom: 15px;
}

.profile-user-buttons {
  text-align: center;
  margin-top: 10px;
}


.btn:last-child{
  margin-right: 0;
}
.profile-user-menu{
  margin-top: 30px;
}

ul li .change{
  border-bottom: 2px solid #f0f4f7 !important;
}

.profile-user-menu ul li a {
  color: rgba(0,0, 0, 0.8);
  font-size :14px;
  font-weight: 400;
  text-decoration: none;
}

.profile-user-menu ul li a i {
  margin-right: 8px;
  font-size: 16px;
}

.profile-user-menu ul li a:hover{
  background-color: #fafcfd;
  color:rgba(0,0, 0, 0.8);
  font-size: 15px;
}

li.activ {
  color:#5babd1;
  background-color: #f6fafb;
  border-left: 3px solid #5babd1;
  margin-left: -3px;
}

.profile-content{
  padding:20px;
  background: #fff;
  min-height: 460px;
}
  li .change{
   border-bottom: 1px solid #f0f4f7;
 }
.heading {
  padding-top: 100px;
}
.profile-header{
  height: auto;
}
.card-mix {
  height: 420px;
}

@media only screen and (max-width: 600px) {
    img {
        position: relative;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
  form {
    width: 100% ;
    position: relative;
};
 .profile-sidebar {
  width: 100% ;
  position: relative;
}

};

@media only screen and (max-width : 575px) {
  .profile {
    right:50%;
  left: 50%;

}

}
@media only screen and (max-width : 575px) {
  .profile-sidebar {
  width: 100% ;
  position: relative;
}
}

@media only screen and (max-width : 575px) {
 .mobile {
   width: 100%
 }
}
