body{
    background:#fff;
    color: black;
    height: 100%;
    margin:0;
padding:0;
height:100%;

}

#fixed button {
position: fixed;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }


.popular-recipes{
max-height: 30px;
background-color: green;

}

.modal-dialog {
    max-width: 600px !important;
}

.modal-content {
    width: 100%;
}
.set-align {
    display: flex !important;
}
.fa{
background: #fff;
padding: 4px;
border-radius: 5px;
font-size: 20px;
}

.no-recipes {
    margin: auto;
}

.loader-center {
    margin: auto;
    margin-bottom: 700px;
}

.active {
color: greenyellow;
}

.navbar{
border-bottom: #FF4500 3px solid;
}

.home-inner{
    padding-top: 100px;
  }
.heading{
padding-top: 80px;
}
.card{
margin-bottom: 15px;
}
#clickableAwesomeFont{
cursor:pointer
}

.container{
position: relative;
}

.navbar{
background-color:black;
margin-bottom: 0;
border-radius: 0;
}

html{
min-height: 100%;

}
.py-4{
padding-bottom: 0px !important;
}

.addrecipebtn{
position: absolute;
top: 5.9%;
right: 20px;
border-radius: 25px;
}

.popular {
position: absolute;
top: 5.9%;
right: 100px;
border-radius: 25px;

}
.fa {
background:none !important
}


.search input {
text-indent: 30px;
border-radius:20px;
}
.search .fa-search {
position: absolute;
top: 5px;
left: 160px;

font-size: 15px;
}

.high {
min-height: 650px
}


.profile{
background: #343a40;
color: white;
cursor:pointer;
/*opacity: 0.8*/
}

@media only screen and (max-width: 765px) {
.addrecipebtn{
    position: relative !important;
};

}

@media only screen and (max-width: 768px) and (min-width: 300px) {

.popular{
    position: relative !important;
    right: 5%;
    left: 4%;
    /*padding: 0px;*/

    margin-bottom: 1%;

}

}

@media only screen and (max-width : 575px) {
form {
width: 100% ;
position: relative;
};
.addrecipebtn{
    margin-right: -5px;
};
/*.heading {
  padding-top:500px;
}*/

}

@media only screen and (max-width : 575px) {
.profile {
right:50%;
left: 50%;
margin-left: 120px;

}
};
