.top-margin {
  margin-top: 100px !important;
}

.search-width{
  width: 200px !important;
  
}

.form-inline .form-control {
  display: inline-block;
  width: 1200px;
  vertical-align: middle;
  margin-top: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
}
