body{
        background:#fff;
        color: #fff;
        }      
        
      #home-section{
        min-height: 700px;
        background-size: cover;
        background-attachment: fixed;
      } 
      .dark-overlay{
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 700px; 
      } 
      .home-inner{
        padding-top: 100px; 
      }